/*layout*/

.wrapper {
     & > h2 {
        border-bottom: 1px solid #d8d8d8;
        padding: 10px 20px;
        margin: 10px auto;
        }
    @media screen and (min-width: 768px) {
        position: relative;
        width: 768px;
        margin: auto;
    }
    @media screen and (min-width: 1024px) {
        width: 1000px;
    }
}
.row {
    display: flex;
    flex-flow: row wrap;
    & > h2 {
        border-bottom: 1px solid #d8d8d8;
        padding: 10px 20px;
        margin: 10px auto;
        margin: 0.5em auto;
        flex: 1 100%;
    }
    p {
        // margin: 1em auto;
        padding: 1em;
        line-height: 1.25em;
    }
    span {
        margin: 1em auto;
    }
    .project-img {
        text-align: center;
    }
}

.project-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    & > h2 {
        flex: 1 100%;
        }
    p {
        flex-grow: 2;
    }
    .project-img {
        flex-grow: 1;
        flex-shrink: 1;
    }
    .project-link {
        order: 2;
        flex: 1 100%;
        text-align: center;
    }
    @media all and (min-width: 1024px) {
        p, .project-img { flex: 1 auto; }
        p { 
            order: 2;
            flex-grow: 2;
            flex-basis: 0;
        }
        .project-img {
            order: 1;
            flex-grow: 1;
            flex-basis: 0;
        }
        &:nth-child(2n+2) {
            p { order: 1; }
            .project-img {
                order: 2;
                text-align: right;
            }
        }
    }
}

.front .col {
}

.project-item {
    order: 1;
    flex: 1 100%;
    @media screen and (min-width: 1024px) {
        flex: 1 50%;
    }
}

.skill-row {
    p:nth-child(1) {
        flex: 1 100%;
        @media screen and (min-width: 768px) {
            flex: 2 0;
        }
    }
    ul {
        flex: 1 100%;
        padding: 0 1em;
        @media screen and (min-width: 768px) {
            flex: 1 0;
        }
    }
}