// @import "_normalize.scss";
@import "bourbon/_bourbon.scss";
@import "bourbon/functions/_flex-grid.scss";
@import "bourbon/css3/_flex-box";
@import "bourbon/addons/_prefixer.scss";
@import "mixin/_mixin.scss";

@include keyframes(bounce) {
    0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
    40% {
    @include transform(translateY(-30px));
  }
    60% {
    @include transform(translateY(-15px));
  }
}

$black:#1c1c1c;
$dark:#383838;
$grey:#555;
$light:#ccc;
$white:#efefef;
$border:#d8d8d8;
// $yellow:yellow;

// $black:#212121;
// $dark:#616161;
// $grey:#727272;
// $light:#b6b6b6;
// $white:#f5f5f5;
$yellow:#ffeb3b;

$fg-column: 100px;             // Column Width
$fg-gutter: 10px;             // Gutter Width
$fg-max-columns: 10;          // Total Columns For Main Container

// @import "_normalize.scss";
@import "_navigation.scss";

html {
    // background: $white;
}
body {
    font-family: 'Droid Sans', Verdana, serif;
    font-size: 1em;
    color: $black;
    @media screen and (min-width: 768px) {
        font-family: 'Droid Serif', Georgia, serif;
        input[type=submit] {
            font-family: 'Droid Serif', Georgia, serif;
        }
    }
    a {
    color: $grey;
    text-decoration: none;
    }
    h1, h2, h3, h4, .nav {
        font-family: 'Droid Sans', Verdana, serif;
    }
    h1 {
        
    }
    h2{
        font-size: 1.75em;
        // line-height: 1.4em;
        margin: 0 0 .4em;
    }
    h3 {
        font-size: 1.5em;
        margin: 0.2em;
    }
    h4 {
        font-size: 1em;
        margin: 0 0 0.5em;
    }
    p {
        margin: 0.2em;
        padding: 0.2em;
        line-height: 1.2em;
    }
    img {
        max-width: 100%;
    }
    ul {
        // padding: 0 1em;
        li {
            padding: 0.25em;
        }
    }
}

@import "_layout.scss";



.hide { display: none; }








